/*
WordCamp Chicago 2017 Styles
*/
.custom-logo-link {
	display: none;
}

.home .custom-header-media:after {
	content: "";
	background-image: url('http://2017.chicago.wordcamp.org/files/2017/02/WCP1702-Logo-Vert-600x600-020717-hmpg.png');
	background-size: 300px 300px;
	height: 300px;
	margin: -250px 0 0 -150px;
	width: 300px !important;
    	position: absolute;
    	top: 50%;
    	left: 50%;
	z-index: 2;
}
.home .site-title {
	display: none;
}
.home .site-branding-text {
	width: 100%;
	text-align: center;
}
.home .site-description {
	font-size: 32px;
}
.home .entry-header {
	display: none;
}
body.home.page-two-column:not(.archive) #primary .entry-content {
	width: 100%;
	text-align: center;
}
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column:not(.archive) #primary .entry-content{
	width: 100%;
}
h2, ent .recent-posts .entry-title {
    font-size: 42px;
    font-size: 2.625rem;
}
