/*
WordCamp Chicago 2017 Styles
*/
.custom-logo-link {
	display: none;
}

.home .custom-header-media:after {
	content: "";
	background-image: url('https://2018.chicago.wordcamp.org/files/2018/01/WCP1801-300d-Logo-012818-k-square-2.png') !important;
	background-size: 300px 300px;
	height: 300px;
	margin: -250px 0 0 -150px;
	width: 300px !important;
    	position: absolute;
    	top: 50%;
    	left: 50%;
	z-index: 2;
}
.home .site-title {
	display: none;
}
.home .site-branding-text {
	width: 100%;
	text-align: center;
}
.home .site-description {
	font-size: 32px;
}
.home .entry-header {
	display: none;
}
body.home.page-two-column:not(.archive) #primary .entry-content {
	width: 66.666%;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	float: none;
}
body.page-two-column:not(.archive) #primary .entry-header,
body.page-two-column:not(.archive) #primary .entry-content{
	width: 100%;
}
h2, ent .recent-posts .entry-title {
    font-size: 30px;
    font-size: 1.875rem;
}
.entry-content a {
	font-weight: bold;
}
.site-footer {
	background: #efefef;
}
.wcpt-schedule .wcpt-session-title {
	box-shadow: none;
}
.wcpt-schedule .wcpt-session-speakers {
	display: block;
}
.wcpt-schedule .wcpt-session-speakers a {
	font-weight: normal;
	box-shadow: none;
}
.wcpt-schedule .wcpt-session-speakers a:hover {
	color: #269cb3;
}
